.card_container{
    width: 25%;
    padding-bottom: 20px;
}
.card_container:hover{
    cursor: pointer;
    border-radius: 15px;
    background-color: #ddf0dd;
}
.card_container img{
    width: 320px;
    height: 260px;
    margin: 9px;
    border-radius: 15px;
}
.buyNowBtn{
    width: 250px !important;
}